*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 30px auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
gap: 20px;
}
.image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  gap: 10px;
}
button{
    width: 100px;
    height: 30px;
    padding: 10px 15px;
    background: teal ;
    color: azure;
    border: none;
    cursor: pointer;

}